<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load django_bootstrap5  %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=" {% static 'stylesheet_sgp.css' %} ">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {{ form.media.css }}
</head>
<body>
	{% if request.user.is_authenticated %}
	{% block nav %}{% include 'navbar_sgp.html' %}{% endblock nav %}
	{% endif %}
	<br>
	{% block content %}

	{% endblock content %}
    {{ form.media.js }}

	<!-- Add a warning for users with JavaScript disabled -->
    <noscript>
        <div style="color: red; text-align: center; margin-top: 20px;">
            <strong>JavaScript is required for the best experience. Please enable JavaScript in your browser.</strong>
        </div>
    </noscript>
</body>
</html>