<!DOCTYPE html>
{% extends 'mainheader_sgp.html' %}

{% block content %}
<script src="//code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet_sgp_login.css' %}">
<script src="{% static 'function_sgp_login.js' %}"></script>

<div class="login-container">
    <div class="login-card">
        {% if message1 %}
        <div class="alert alert-danger" role="alert">
            {{ message1 }} Please retry.
        </div>
        {% elif message2 %}
        <div class="alert alert-info" role="alert">
            {{ message2 }}
        </div>
        {% endif %}
        <div class="login-header">
            <h2>Game Portal Login</h2>
        </div>
        <div class="login-body">
            <form id="login-form" action="{% url 'sgp_login' %}" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Log In">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const loginForm = document.querySelector("#login-form");
    const loginButton = document.querySelector("#login-submit");

    loginForm.onsubmit = function () {
        loginButton.disabled = true;
        swal({
            title: "Loading...",
            text: 'Please wait.',
            closeOnEsc: false,
            closeOnClickOutside: false,
            buttons: false,
        });
    };
</script>

{% endblock %}
